<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DB6DBA11E32A5F500FCEA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DB6DBB51E32A5F500FCEA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DB6DBC01E32A5F500FCEA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
